@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&family=Poppins:wght@300;400;500;600;700&family=Shojumaru&display=swap');

:root {
    --bg-color-light: rgb(255, 232, 232);
    --text-color-light: black;
    --sidebar-bg-color-light: #ffd1d1;
    --side-head-color-light: rgba(0, 0, 0, 0.1);
    --side-hover-color-light: #ff8484;
    --menu-bars-color-light: #ff8c8c;
    --footer-bg-color-light: #24262b;
    --footer-social-color-light: #ffd1d1;
    --footer-text-color-light: #ffeded;
    --map-link-hover-color-light: rgb(255, 154, 154);
    --main-text-color-light: black;
    --clock-color-light: cyan;
  }
  
  :root {
    --bg-color-dark: #333333;
    --text-color-dark: #dedede;
    --sidebar-bg-color-dark: #7e7e7e;
    --side-head-color-dark: rgba(255, 255, 255, 0.1);
    --sidetext-color-dark: rgba(240, 240, 240, 1);
    --side-hover-color-dark: rgb(66, 66, 66);
    --footer-bg-color-dark: #595959;
    --footer-text-color-dark: rgb(187, 187, 187);
    --map-link-hover-color-dark: rgb(166, 166, 166);
    --main-text-color-dark: #ffd1d1;
    --clock-color-dark: white;
  }
  

body {
  background-color: var(--bg-color-light);
  color: var(--text-color-light);
  font-family: "OCR A Std", monospace;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  transition: background-color 0.5s, color 0.5s;
}

body.dark-theme {
  background-color: var(--bg-color-dark);
  color: var(--text-color-dark);
}

.sidebar {
  position: fixed;
  left: -250px;
  width: 250px;
  height: 100%;
  background: var(--sidebar-bg-color-light);
  transition: all 0.5s ease;
}
.sidebar.dark-theme {
    background-color: var(--sidebar-bg-color-dark);
}

.sidebar header {
  line-height: 45px;
  text-align: center;
  border-bottom: 3.5px solid var(--side-head-color-light);
}

.sidebar header.dark-theme{
    border-bottom: 3.5px solid var(--side-head-color-dark);
}

.sidebar ul {
  padding: 0;
}

.sidebar ul li {
  list-style: none;
}

.sidebar ul a {
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 20px;
  color: var(--text-color-light); 
  padding-left: 40px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0, 0, 0, 0); 
  border-top: 1px solid rgba(0, 0, 0, 0);
  transition: 0.4s;
}

.sidebar.dark-theme ul a {
    color: var(--sidetext-color-dark); 
}

.sidebar ul li:hover a {
  padding-left: 50px;
  background-color: var(--side-hover-color-light);
  background-size: 300%;
}

.sidebar.dark-theme ul li:hover a{
    background-color: var(--side-hover-color-dark);
}

.sidebar ul a i {
  margin-right: 16px;
}

#check {
  display: none;
}

label #btn, label #cancel {
    position: fixed;
    background: var(--menu-bars-color-light);
    border-radius: 3px;
    cursor: pointer;
  }
  
  .dark-theme label #btn, .dark-theme label #cancel {
    background: var(--bg-color-dark);
  }

label #btn {
  left: 40px;
  top: 25px;
  font-size: 35px;
  color: rgb(255, 255, 255);
  padding: 6px 12px;
  transition: all 0.5s;
}

label #cancel {
    z-index: 1111;
    left: -195px;
    top: 30px;
    font-size: 30px;
    color: #ffffff;
    padding: 4px 9px;
    transition: all 0.5s ease;
    opacity: 0.4;
  }
  
  label #cancel:hover {
    opacity: 1; 
  }
  
#check:checked ~ .sidebar {
  left: 0;
}

#check:checked ~ label #cancel {
  left: 197px;
  transition: 0.4s;
}

.tinfo {
  font-family: Merriweather, serif;
  flex: 1;
  text-align: justify;
  margin-top: 100px;
  margin-bottom: 75px;
  margin-left: 150px;
  margin-right: 100px;
  padding: 20px;
  margin-top: 80px;
  font-size: 20px;
  flex-grow: 1;
  position: relative;
  left: 0px;
  top: -100px;
}

.about {
  font-family: Merriweather, serif;
  flex: 1;
  text-align: justify;
  margin-top: 100px;
  margin-bottom: 75px;
  margin-left: 150px;
  margin-right: 100px;
  padding: 20px;
  margin-top: 80px;
  font-size: 30px;
  flex-grow: 1;
}

.about .contact {
  font-size: 34px;
}

.div4head {
  text-align: center;
}

#check:checked ~ section {
  margin-left: 275px;
  transition: 0.4s;
}

.email2 {
  margin: 0;
  padding: 24px;
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  box-sizing: border-box;
}

.name-email input[type="text"],
.name-email input[type="email"] {
  flex: 1;
  padding: 8px 10px;
  font-size: 20px;
  width: 16.5%;
}

.email2 textarea {
  width: 35%;
  height: 100px;
  padding: 8px 10px;
  font-size: 20px;
  resize: none;
  margin-top: 10px;
}

.email2 button {
  margin-top: 10px;
  padding: 8px 10px;
  width: 150px;
  font-size: 24px;
  cursor: pointer;
}

.clock {
    height: 75px;
    line-height: 75px;
    text-align: center;
    padding: 30px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
  }
  
  .clock .display {
    font-family: 'Orbitron', sans-serif;
    font-size: 20px;
    color: var(--clock-color-light); 
    filter: brightness(100%);
    letter-spacing: 5px;
  }

  .clock.dark-theme .display.dark-theme{
    color: var(--clock-color-dark);
  }

  .head{
    font-family:'Shojumaru', serif;
    font-size: 250%;
    left: 30px;
  }

  .link1 {
    transition: all 1.8s ease;
    color: var(--text-color-light);
  }
  
  .link1.dark-theme {
    color: var(--text-color-dark);
  }
  
  .link1:hover {
    transition: all 0.3s ease;
    color: var(--map-link-hover-color-light);
  }
  
  .link1:hover.dark-theme{
    color: var(--map-link-hover-color-dark);
  }

.sources, 
.sources a {
    color: var(--text-color-light);
}

.sources a:hover {
  transition: all 0.3 ease;
  color: var(--map-link-hover-color-light);
}

.dark-theme .sources, 
.dark-theme .sources a {
    color: var(--text-color-dark);
}

.dark-theme .sources a:hover {
    color: var(--map-link-hover-color-dark);
}

.activity-map-img {
  background-position: 50%;
  text-align: center;
  cursor: default;
}
 

/*FOOTER+*/

#check:checked ~ .footer {
    margin-left: 250px;
    transition: .5s;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap'); 

body { 
    line-height: 1.5;
    font-family: 'poppins',sans-serif;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container{
    max-width: 1170px;
    margin:auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.footer{
    background-color: var(--footer-bg-color-light);
    margin-bottom: -100px;
    padding: 70px 0;
  }

.footer.dark-theme{
background-color: var(--footer-bg-color-dark);
}

  .footer-col {
    width: 25%;
    padding: 0 15px;
  }
  
  .footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
  }
  
  .footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  }
  
  .footer-col ul li::not(:last-child) {
    margin-bottom: 10px;
  }
  
  .footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
    list-style: none;
    color: var(--footer-text-color-light); 
  }
  
  .footer-col.dark-theme ul li a {
    color: var(--footer-text-color-dark);
  }
  
  .footer-col ul li a:hover {
    color: white;
    filter: brightness(2000%);
    padding-left: 8px;
  }
  
  .footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: var(--footer-social-color-light);
    transition: all 0.5s ease;
  }
  
  .footer-col .social-links a:hover {
    color: #24262b;
    background-color: var(--footer-social-color-light);
  }  






@media only screen and (max-width: 768px) {

  * {
    box-sizing: border-box; 
}

.sidebar .noscroll {
  overflow: hidden;
  display: none;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  position: fixed;
  padding: 0; 
  margin: 0; 
  }

  label #btn {
    display: block;
    position: fixed;
    top: 10px;
    left: 20px;
    z-index: 1000;
  }
  

  .tinfo, .about {
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    text-align: justify;
    font-size: 16px;
  }

  .footer-col {
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
  }

  .footer {
    padding: 70px 0 70px 0; 
    margin: 0;  
    width: 100%; 
  }
  

  #mainimgtokyo {
    width: 100%;
    height: auto;
  }

  .email2 textarea {
    width: 100%;
  }

  .name-email input[type="text"],
  .name-email input[type="email"] {
    width: 100%;
  }
  
  img {
    max-width: 100%;
    height: auto;
}

#check:checked ~ .sidebar {
  display: block;
}

#check:checked ~ label #cancel {
  left: 20px;
  top: 10px;
  transition: 0.4s;
  z-index: 1001;  
}

.label-btn-hidden {
  display: none;
  transition: display 0.5s ease; 
}


}